@model MapsProposal.Models.Location
@{
    ViewBag.Title = "Layers";
}

<h2>Layers</h2>

<h3>@Model.Name</h3>

<p>North East position: @Model.NorthEastLatitude, @Model.NorthEastLongitude</p>
<p>South West position: @Model.SouthWestLatitude, @Model.SouthWestLongitude</p>
<table>
    <thead>
        <tr>
            <td>
                Title
            </td>
            <td>
                North East Boundary
            </td>
            <td>
                South West Boundary
            </td>
            <td>
                Link
            </td>
        </tr>
    </thead>
    
        @foreach (var layer in ViewBag.Layers)
        {
            <tr>
                <td>
                    @layer.Title
                </td>
                <td>
                    @layer.yMax, @layer.xMax
                </td>
                <td>
                    @layer.yMin, @layer.xMin
                </td>
                <td>
                    @Html.ActionLink("Get image", "Image", new { id=ViewContext.RouteData.Values["id"],layerTitle=layer.Name }, null)
                </td>
            </tr>
        }
    
</table>
