@model MapsProposal.Models.DetailsViewModel

@{
    ViewBag.Title = "Edit User";
}
<div class="formNoMap">



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h2>@Model.FirstName @Model.LastName</h2>
        <table>
            <tr>
                <td>Role:</td>
                <td>@Model.Role</td>@Html.EditorFor(model => model.Role)
                <td></td>
            </tr>
        </table>
        <table>
            @foreach (var location in Model.Locations)
            {
                <tr>
                    <td>@location.Name</td>
                </tr>
            }
        </table>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
</div>
       